h2{font-family: 'Kaushan Script';
}
h1,h4{font-family: 'Dancing Script', cursive;
  color: rgb(112, 106, 106); 
  }
  h3{font-family: 'Dancing Script', cursive;
    color: rgb(112, 106, 106);
  font-size: 25px;}
